body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.portion-1,
.portion-5 {
    background-color: #1F2937;   
}

.portion-5 {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.footer {
    align-self: center;
    justify-content: center;
    font-size: 18px;
    color: #F9FAF8;
}

.portion-3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    
}

.quote {
    align-self: center;
    font-size: 36px;
    color: #1F2937;
    width: 600px;
}

.quoter {
    font-size: 20px;
    font-weight: bold;
    float: right;
}

.portion-2,
.portion-4 {
    background-color: white;
}