body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.portion-1,
.portion-5 {
    background-color: #1F2937;   
}

.portion-5 {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.footer {
    align-self: center;
    font-size: 18px;
    color: #F9FAF8;
}

.portion-3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    
}

.quote {
    align-self: center;
    font-size: 36px;
    color: #1F2937;
    width: 600px;
}

.quoter {
    font-size: 20px;
    font-weight: bold;
    float: right;
}

.portion-2,
.portion-4 {
    background-color: white;
}

.portion-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
}

.label {
    align-self: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.pics {
    max-height: 50px;
    max-width: 55px;
}
.portion-4 {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.background {
    background-color: #3882F6;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    padding: 40px;
    border: #e5e7eb;
    padding-right: 50px;
    padding-left: 50px;
}

.button {
    border-color: white;
    border-radius: 7px;
    border-width: 2px;
    border-style: solid;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-weight: bold;
    width: 80px;
    text-align: center;
}

.plea {
    color: white;
}